extends main

block content
    .dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                | Sort By
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='customers/byName') Name
                a.dropdown-item(href='customers/byID') ID
                a.dropdown-item(href='customers/active') See only active customers
                a.dropdown-item(href='customers/inactive') See inactive customers
    h2 Customers:
    .container
        each customer in customers
            if (customer['customerStatus']==true)
                .card
                    //- img.card-img-top(src='https://shorturl.at/krEY2', alt='Card image cap')
                    .card-body
                        h5.card-title #{customer['name']}
                        h6.card-subtitle.mb-2.text-muted #{customer['emailAddress'] || customer['phoneNumber']}
                        a.card-link(href=`customer/${customer['customerID']}`) View Customer
                        a.card-link(href='#') See Transactions
            else
                .card(style='background-color: LightGray')
                    //- img.card-img-top(src='https://shorturl.at/krEY2', alt='Card image cap')
                    .card-body
                        h5.card-title #{customer['name']}
                        h6.card-subtitle.mb-2.text-muted #{customer['emailAddress'] || customer['phoneNumber']}
                        a.card-link(href=`customer/${customer['customerID']}`) View Customer
                        a.card-link(href='#') See Transactions