extends main

block content
    .dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                | Sort By
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='employees/byName') Name
                a.dropdown-item(href='employees/byID') ID
                a.dropdown-item(href='employees/bySalary') Salary
                a.dropdown-item(href='employees/byBranch') Branch
                a.dropdown-item(href='employees/active') See only active employees
                a.dropdown-item(href='employees/inactive') See previous employees



    h2 Employees:
    .container
        each employee in employees
            if (employee['employeeStatus']==true)
                .card
                    //- img.card-img-top(src='https://shorturl.at/krEY2', alt='Card image cap')
                    .card-body
                        h5.card-title #{employee['name']}
                        h6.card-subtitle.mb-2.text-muted #{employee['emailAddress']}
                        a.card-link(href=`employee/${employee['employeeID']}`) View Employee
                        a.card-link(href='#') See Transactions
            else
                .card(style='background-color: LightGray')
                    //- img.card-img-top(src='https://shorturl.at/krEY2', alt='Card image cap')
                    .card-body
                        h5.card-title #{employee['name']}
                        h6.card-subtitle.mb-2.text-muted #{employee['emailAddress']}
                        a.card-link(href=`employee/${employee['employeeID']}`) View Employee
                        a.card-link(href='#') See Transactions
