extends ../main

block content
    h2 Branches:
    .container
        each branch in branches
            .card
                .card-body
                    h5.card-title #{branch['branchAddress']}
                    .row
                        a.card-link(href=`branches/${branch['branchID']}`) View Branch
                        a.card-link(href=`branches/transactions/${branch['branchID']}`) View Transactions
                    .row    
                        a.card-link(href=`branches/stock/${branch['branchID']}`) View Stock
                        a.card-link(href=`branches/customers/${branch['branchID']}`) Check Customers


